
.navbar-collapse{
    flex-grow: 0 !important;

}
.get{
    border: 2px solid whitesmoke;
}
.plus{
        border-radius: 50%;
        background-color: salmon;
        padding: 15px;

}
.main{
    margin-left: 10% ;
}
.sect1{
    margin-left: 25%;
    margin-top: 1%;
    width: 350px;
    height: 350px;
    border: 1px solid none;
    text-align: center;
    font-size: 20px;

}
.sect1>h1{
    font-size: 47px;
}
.btt{
    background-color: salmon;
    color: white;
    border: none;
    width: 150px;
    height: 50px;
}
.simg{
    max-width: 100%;
}
.sect2{
    display: flex;
    margin-top: 30px;
}
.sec2{

    justify-content: center;
    padding-top: 5%;
    width: 350px;
    /* margin: 35px; */
}
.sec2>h1{
    font-weight: 700;
}
.nd{
    margin-left: 35%;
    margin-bottom: 4%;
}
.sect3{
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
    /* justify-content: space-around; */
}
.bcm{
    margin-bottom: 40px;
    text-align: center;
}
.bcm>h4{
    font-size: 60px;
    margin-bottom: 40px;

}
.bcm2{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.bcm2>a{
    text-decoration: none;
    color: black;
    padding-right: 10px;
}
.bcm2>a:hover{
    color: #ed1c24;
}